@tailwind base;
@tailwind components;
@tailwind utilities;

#map-container {
  @apply w-full;
  @apply h-screen;
}

.over {
  border: 1px solid red;
  border-radius: 5px;
  border-bottom: 4px solid red;
}
